#htmlData {
  margin-top: 500px;
  position: fixed;
}
input[disabled=""] {
  background-color: rgb(179, 177, 177);
}

.true {
  border-color: #3ca9e2 !important;
}

.false {
  color: #cc1e2b !important;
  border-color: #cc1e2b !important;
}
.width {
  width: 92%;
}

#largo {
  height: 35% !important;
}
#largoFestivo {
  height: 44% !important;
}
#height {
  height: 33% !important;
}

.centrado {
  margin-left: 50px;
}

table,
tr,
th,
td {
  border: 1px solid black;
  text-align: center;
}
.tabla {
  width: 33%;
}
@media (max-width: 1580px) {
}

@media (max-width: 1457px) {
  * {
    font-size: 18px;
  }
  h2 {
    font-weight: 500;
    font-size: 25px;
  }
}
