/* You can add global styles to this file, and also import other style files */
* {
  font-family: arial;
}
body {
  background-image: url("./assets/fondo-pantalla-cuadricula-digital-azul-marino-degradado.jpg");
  background-size: cover;
  background-repeat: repeat;
}
