<div id="login-form-wrap">
  <form id="login-form" action="" #form="ngForm">
    <h2>Registro</h2>
    <input
      id="usuario"
      type="text"
      name="nombre"
      [(ngModel)]="nombre"
      [class]="nombreValido"
      (input)="validar()"
      placeholder="Nombre"
    />
    <input
      id="usuario"
      type="text"
      name="apellido"
      [(ngModel)]="apellidos"
      [class]="apellidosValido"
      (input)="validar()"
      placeholder="Apellidos"
    />
    <input
      id="usuario"
      type="email"
      name="correo"
      id=""
      [(ngModel)]="correo"
      [class]="correoValido"
      (input)="validar()"
      placeholder="Correo"
    />
    <input
      id="usuario"
      type="text"
      name="DNI"
      id=""
      [(ngModel)]="dni"
      [class]="dniValido"
      (input)="validarDNI()"
      placeholder="DNI"
    />
    <input
      id="password"
      type="password"
      name="password"
      [(ngModel)]="pwd"
      [class]="pwdValido"
      placeholder="Password"
    />
    <input
      type="submit"
      class="boton"
      id="login"
      value="Registrarse"
      (click)="registrar(nombre, apellidos, correo, pwd, dni)"
    />
  </form>
</div>
